agno
openai
groq
google-genai
duckduckgo-search
pypdf
lancedb
mcp
yfinance
arxiv
twilio
requests
pytz
firecrawl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
youtube_transcript_api
sounddevice
wavio
SpeechRecognition
pygame
pyaudio
faster_whisper
notion-client
scikit-learn
tzlocal
elevenlabs
sqlalchemy
fastapi
uvicorn